[data-testid="flowbite-dropdown-target"] {
    background-color: white;
    border: 1px solid var(--color-wild-border-grey);
    color: var(--color-wild-text-grey);
}

[data-testid='table-element'] {
    position: static !important;
    overflow: visible !important; 
}

/* Permet au dropdown de dépasser le conteneur de la table */
[data-testid='flowbite-table'] {
    overflow: visible !important;
}
