.badge {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    font-weight: 400;
    font-size:0.7rem;
    letter-spacing: 0.02rem;
    /* text-transform: lowercase; */
}

.badge-draft {
    background-color: var(--color-wild-grey);
    border: 1px solid var(--color-wild-border-grey);
    color: #828489;

}

.badge-scheduled {
    background-color: #FEFCE8;
    border: 1px solid #ffd260;
    color: #a86208;
}

.badge-published {
    background-color: #d0e6fd;
    border: 1px solid #7dbbff;
    color: #3695fa;
}

.badge-finished {
    background-color: #fde8ee;
    border: 1px solid #fcb2c7;
    color: #e37292;
}
  