@theme {
  /* couleurs */ 
  --color-wild-orange: #FF8102;
  --color-wild-blue: #0034AE;
  --color-wild-bg-light-blue: #F8FBFF;
  --color-wild-selected-link: #4D7AE3;
  --color-wild-grey: #F7F7F7;
  --color-wild-beige: #FFEFD7;
  --color-wild-text-grey: #364153;
  --color-wild-text-grey-hover: #4A5568;
  --color-wild-light-blue: #E8F2F8;
  --color-wild-light-grey:#F9FAFB;
  --color-wild-border-grey:#EDECED;

  /* typo */
  --font-poppins: "Poppins", sans-serif;
}
