@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@import "./styles/theme.css";
@import "./styles/typo.css";
@import "./styles/dashboard.css";
@import "./styles/status-badges.css";
@import "./styles/dropdown-button.css";
@import "./styles/tiptap.css";
  
body{
  color: var(--color-wild-text-grey);
  font-family: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

.btn-global{
  padding: 0.7rem 2rem;
  background-color: var(--color-wild-blue);
  color: #FFFFFF;
  font-size: 13px;
  border-radius: 7px;
  border: none;
  cursor:pointer;
}

.btn-global:hover{
  padding: 0.7rem 2rem;
  background-color: var(--color-wild-selected-link);
}
  
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

@layer base {
  input{
    padding: 0.7rem 1rem;
    border-radius: 10px;
    outline: none;
    color: var(--color-wild-text-grey);
    border: 1px solid var(--color-wild-border-grey);
    font-size: 0.8rem;
  }
  input::placeholder {
    font-size: 0.8rem !important;
    font-family: var(--font-poppins);
    font-weight: 400;
    color: var(--color-wild-text-grey-hover);
  }

  input:focus {
    border-color: var(--color-wild-selected-link);
    box-shadow: 0 0 0 0.8px var(--color-wild-selected-link);
  }
}

a {
  font-size: 0.8rem;
  font-weight:400;
}

/* form */

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #3b82f6;
  box-shadow: 0 0 8px rgba(59, 130, 246, 0.5); 
  transition: box-shadow 0.3s ease, border-color 0.3s ease; 
}
