/* frontend/src/index.css */
@import "tailwindcss";

@theme {
  /* Couleurs Wild */
  --color-wild-orange: #FF8102;
  --color-wild-blue: #0034AE;
  --color-wild-bg-light-blue: #F8FBFF;
  --color-wild-selected-link: #4D7AE3;
  --color-wild-grey: #F7F7F7;
  --color-wild-beige: #FFEFD7;
  --color-wild-text-grey: #364153;
  --color-wild-light-blue: #E8F2F8;

  /* Police */
  --font-poppins: "Poppins", sans-serif;

  /* Tailles de titres (génère text-h1, text-h2, text-h3) */
  --text-h1: 42px;
  --text-h1--line-height: 1.1;
  --text-h2: 32px;
  --text-h2--line-height: 1.15;
  --text-h3: 22px;
  --text-h3--line-height: 1.2;
}

/* Global */
html, body, #root { height: 100%; }
body {
  font-family: var(--font-poppins);
  background: var(--color-wild-bg-light-blue);
  color: var(--color-wild-text-grey);
}

/* Classes spécifiques */
@utility h1 { 
  @apply 
  font-poppins 
  font-bold 
  text-h1 
  text-wild-blue; 
}
@utility h2 { 
  @apply 
  font-poppins 
  font-semibold 
  text-h2 
  text-wild-blue; 
}
@utility h3 { 
  @apply 
  font-poppins 
  font-semibold 
  text-h3 
  text-wild-blue; }
@utility p-regular { 
  @apply 
  font-poppins 
  text-base 
  text-wild-text-grey; 
}
@utility muted { 
  color: var(--color-wild-text-grey); 
  opacity: .7; 
}
